.profile {
    display: block;
    position: relative;
    width: 100%;
    max-width: 300px;
    background: #fff;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0px 2px 5px rgba(58, 79, 105, 0.5);        
    margin-top: 32px;    
    margin-bottom: 32px;        
}

.description {
    width: 100%;
    margin: 0 auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;    
}

.avatar {
    display: block;
    width: 100px;
    margin: 0 auto;
    padding-top: 20px;
}

.name {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
    font-size: 22px;    
}

.tag {
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
    opacity: 0.6;
    font-size: 14px;
}

.location {
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
    opacity: 0.6;
    font-size: 14px;
}

.stats {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background: #f3f6f9;
    border: 1px solid #e5eaf1;
    list-style: none;    
    padding-left: 0px;
}

.statsItem {
    width: 100px;
}

.label {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    opacity: 0.6;
}

.quantity {
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: 700;
}

.stats li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 33.333333%;
    height: 80px;
    gap: 0px;
    border-right: 1px solid #e5eaf1;
}

.stats li:last-child {
    border-right: none;
}

.stats li span {
    display: block;
    width: 100%;
    text-align: center;
    color: #2e3f53;
    line-height: 1;
}