.friendList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 320px;
    list-style: none;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 0px;
}

@media screen and (max-width: 767px) {
    .friendList {
        width: 300px;
    }
}