.statistics {
    width: 400px;
    margin: 0 auto 20px;    
    border-radius: 10px;
}

.title {
    width: 400px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;    
    text-align: center;
    text-transform: uppercase;
    background: #fff;
    border-radius: 14px;
}

.statList {
    width: 400px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
}

.statItem {
    width: 80px;
}

.label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.percentage {
    display: block;
    margin-bottom: 5px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}